/*
 *
 *Setting Variables
 *
 */

$color-theme: #e34797;
$color-text: #000;
$color-bg: #fff;
$font-theme: 'Lato', sans-serif;

/*
 *
 *Universal Style
 *
 */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: $font-theme;
  background-color: $color-bg;
  color: $color-text;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: $color-text;
}

/*
 *
 * Main Style
 *
 */
canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  position: relative;
  width: 20%;
  height: 20%;
  background-size: cover;
  background: $color-bg no-repeat 50% 50%;
  border: 3px $color-theme solid;
}

.container {

  header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .name {
      display: flex;
      margin: 1em;
      font-weight: bold;
      color: $color-text;
      text-shadow: 3px -3px 2px rgba(227, 71, 151, 0.2);
    }

    .social {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 1em;

      a {
        padding-right: 1em;
        font-size: calc(10px + (16 - 10) * ((100vw - 300px) / (1600 - 300)));
      }
    }
  }

  .main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 3em;

    .intro {
      display: flex;
      flex-direction: column;
      padding-left: 3em;
      padding-right: 3em;

      span {
        color: $color-theme;
        font-weight: bold;
      }

    }

    .project {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding-right: 9em;

      a {

        .project-item {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          transition: 0.3s;
          height: 100%;

          .project-icon {
            align-self: flex-end;
            margin: 1em;
            padding-left: 1em;
            padding-right: 1em;
            border: none;
            border-radius: 40px;
            background-color: $color-theme;
            color: $color_bg;
            font-weight: bold;
            text-align: center;
            text-decoration: none;
            pointer-events: none;
          }

          .project-intro {
            align-self: center;
            margin: 1em;
            font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
            line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));

          }

          .project-stack {
            align-self: center;
            margin: 1em;
          }
        }

      }
    }
  }
}
