/**********
 Setting Variables
 **********/

$mainColor: #1a1f3e;
$color-text: #000;
$color-bg: #fff;
$color-link: #000;
$color-link-hover: #000;
$color-info: #000;

/**********
 Main Style
 **********/

@font-face {
  font-family: 'brushfont';
  src: url("font/Vnhltfap.ttf");
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Lato', serif;
  min-height: 100vh;
  color: $mainColor;
  background-color: $color-bg;
}

.logo {
  font-family: 'brushfont', serif;
}


.subMenu {
  border-top: 3px solid $color-text;
}

a {
  text-decoration: none !important;
}











