/**********
 Setting Variables
 **********/

$mainColor: #1a1f3e;
$color-text: #000;
$color-bg: #fff;
$color-link: #000;
$color-link-hover: #000;
$color-info: #000;

/**********
 Main Style
 **********/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Quicksand', serif;
  min-height: 100vh;
  color: $mainColor;
  background-color: $color-bg;
}

.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}

main {
  position: relative;
}

.header {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem;
}

.header__title {
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.icon {
  display: block;
  width: 1.5em;
  height: 1.5em;
  margin: 0 auto;
  fill: currentColor;
}

.social {
  margin: 0 0 0 auto;
  float: right;
}




