/**********
 Setting Variables
 **********/

$mainColor: #1a1f3e;
$color-text: #000;
$color-bg: #fff;
$color-link: #000;
$color-link-hover: #000;
$color-info: #000;

/**********
 Main Style
 **********/

@font-face {
  font-family: 'brushfont';
  src: url("font/Vnhltfap.ttf");
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Quicksand', serif;
  min-height: 100vh;
  color: $mainColor;
  background-color: $color-bg;
}

.logo {
  font-family: 'brushfont', serif;
}

.mainMenu__item {
  position: relative;
}

.mainMenu__item::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 4px;
  background: #d94f5c;
  -webkit-transform: rotate3d(0, 0, 1, -45deg) scale3d(0, 1, 1);
  transform: rotate3d(0, 0, 1, -45deg) scale3d(0, 1, 1);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
}

.mainMenu__item.mainMenu__item--current::before {
  transform: rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
}

.mainMenu__link {
  position: relative;
  color: #929292;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

.mainMenu__link:hover,
.mainMenu__link:focus {
  color: #d94f5c;
}

.mainMenu__item.mainMenu__item--current.mainMenu__link {
  color: #333;
}

.subMenu {
  border-top: 4px solid $color-text;
}

a {
  text-decoration: none !important;
}











