/*
 *
 *Setting Variables
 *
 */

$color-theme: #457f5c;
$color-text: #000;
$color-bg: #fff;
$font-theme: 'Comfortaa', cursive;

/*
 *
 *Universal Style
 *
 */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: $font-theme;
  padding-left: 0 !important;
  padding-right: 0 !important;
  min-height: 100vh;
  background-color: $color-bg;
}

a {
  text-decoration: none !important;
}

a:link,
a:visited {
  color: $color-theme;
}

img {
  width: 140px;
  height: 140px;
}

/*
 *
 * Main Style
 *
 */

canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 25%;
  background-size: cover;
  background: #fff no-repeat 50% 50%;
}

nav.socialLink a {
  color: $color-theme;
}

.quickLink {
  background: transparent !important;
  text-decoration: none;
}

.quickLink li {
  font-size: 12px;
  color: $color-theme;
}

.quickLink li a {
  color: $color-theme;
}

.myName {
  font-size: 60px;
  color: $color-theme;
  text-shadow: 3px -3px 2px rgba(0, 133, 255, 0.1);
}

.divider {
  top: -30px;
  z-index: 9999;
  border-top: 2px solid $color-theme;
}

.card {
  color: $color-text;
}

footer a {
  color: #7952b3;
}

